In [7]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql
from Pass_SQL import aws_username, pass_aws
from urllib.parse import quote_plus as urlquote

In [8]:
engine = create_engine(f"mysql+pymysql://{urlquote(aws_username())}:{urlquote(pass_aws())}@olist.ckfnxvkyn3o3.us-east-1.rds.amazonaws.com/olist")
connection = engine.connect()
connection = connection.execution_options(database='olist')

Exception during reset or similar
Traceback (most recent call last):
  File "c:\Users\eugen\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\connections.py", line 732, in _read_bytes
    data = self._rfile.read(num_bytes)
  File "c:\Users\eugen\AppData\Local\Programs\Python\Python310\lib\socket.py", line 705, in readinto
    return self._sock.recv_into(b)
ConnectionResetError: [WinError 10054] Se ha forzado la interrupci贸n de una conexi贸n existente por el host remoto

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\eugen\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\pool\base.py", line 757, in _finalize_fairy
    fairy._reset(pool, transaction_was_reset)
  File "c:\Users\eugen\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\pool\base.py", line 1016, in _reset
    pool._dialect.do_rollback(self)
  File "c:\Users\eugen\AppData\Local\Programs\Python\Python310\lib\site-packages\sqlalchemy\engine\default.py", line 683, in do_rollback
    dbapi_connection.rollback()
  File "c:\Users\eugen\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\connections.py", line 480, in rollback
    self._read_ok_packet()
  File "c:\Users\eugen\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\connections.py", line 443, in _read_ok_packet
    pkt = self._read_packet()
  File "c:\Users\eugen\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\connections.py", line 692, in _read_packet
    packet_header = self._read_bytes(4)
  File "c:\Users\eugen\AppData\Local\Programs\Python\Python310\lib\site-packages\pymysql\connections.py", line 738, in _read_bytes
    raise err.OperationalError(
pymysql.err.OperationalError: (2013, 'Lost connection to MySQL server during query ([WinError 10054] Se ha forzado la interrupci贸n de una conexi贸n existente por el host remoto)')

To test the incremental value, a table with fewer rows is uploaded

In [9]:
query = 'SELECT count(*) FROM Customers'
example = pd.read_sql_query(query, con=engine)
example

   count(*)
0     99043

In [10]:
query = 'SELECT * FROM audit'
example = pd.read_sql_query(query, con=engine)
example

,timestamp,table_name,last_modified_dataset,new_rows,rows_range,detail
0,2023-01-26 17:28:09,Closed_deals,2023-01-18 07:47:10,842,0 - 842,Creation of table and data load
1,2023-01-26 17:28:12,Customers,2023-01-26 20:20:37,99043,0 - 99043,Creation of table and data load
2,2023-01-26 17:28:30,Geolocation,2023-01-26 19:59:06,738332,0 - 738332,Creation of table and data load
3,2023-01-26 17:28:31,Marketing,2023-01-18 07:47:17,8000,0 - 8000,Creation of table and data load
4,2023-01-26 17:28:35,Order_items,2023-01-18 07:47:25,112650,0 - 112650,Creation of table and data load
5,2023-01-26 17:28:38,Order_payments,2023-01-18 07:47:34,103886,0 - 103886,Creation of table and data load
6,2023-01-26 17:28:43,Order_reviews,2023-01-18 07:47:39,99224,0 - 99224,Creation of table and data load
7,2023-01-26 17:28:44,Sellers,2023-01-26 16:18:48,3095,0 - 3095,Creation of table and data load
8,2023-01-26 17:28:46,Products,2023-01-18 07:47:44,32951,0 - 32951,Creation of table and data load
9,2023-01-26 17:28:52,Orders,2023-01-18 07:47:08,99441,0 - 99441,Creation of table and data load
10,2023-01-26 17:28:53,Valoration,2023-01-26 17:28:08,2957,0 - 2957,Creation of table and data load

After the query, the original file is loaded in S3, so the DAG will upload all the new data in the tables

In [11]:
query = 'SELECT count(*) FROM Customers'
example = pd.read_sql_query(query, con=engine)
example

   count(*)
0     99441

In [12]:
query = 'SELECT * FROM audit'
example = pd.read_sql_query(query, con=engine)
example

,timestamp,table_name,last_modified_dataset,new_rows,rows_range,detail
0,2023-01-26 17:28:09,Closed_deals,2023-01-18 07:47:10,842,0 - 842,Creation of table and data load
1,2023-01-26 17:28:12,Customers,2023-01-26 20:20:37,99043,0 - 99043,Creation of table and data load
2,2023-01-26 17:28:30,Geolocation,2023-01-26 19:59:06,738332,0 - 738332,Creation of table and data load
3,2023-01-26 17:28:31,Marketing,2023-01-18 07:47:17,8000,0 - 8000,Creation of table and data load
4,2023-01-26 17:28:35,Order_items,2023-01-18 07:47:25,112650,0 - 112650,Creation of table and data load
5,2023-01-26 17:28:38,Order_payments,2023-01-18 07:47:34,103886,0 - 103886,Creation of table and data load
6,2023-01-26 17:28:43,Order_reviews,2023-01-18 07:47:39,99224,0 - 99224,Creation of table and data load
7,2023-01-26 17:28:44,Sellers,2023-01-26 16:18:48,3095,0 - 3095,Creation of table and data load
8,2023-01-26 17:28:46,Products,2023-01-18 07:47:44,32951,0 - 32951,Creation of table and data load
9,2023-01-26 17:28:52,Orders,2023-01-18 07:47:08,99441,0 - 99441,Creation of table and data load
10,2023-01-26 17:28:53,Valoration,2023-01-26 17:28:08,2957,0 - 2957,Creation of table and data load
11,2023-01-26 17:30:43,Customers,2023-01-26 20:30:24,398,99042 - 99440,Adding new data to table

As we can see, the incremental value is working successfully