In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql
from Pass_SQL import aws_username, pass_aws
from urllib.parse import quote_plus as urlquote

In [2]:
engine = create_engine(f"mysql+pymysql://{urlquote(aws_username())}:{urlquote(pass_aws())}@olist.ckfnxvkyn3o3.us-east-1.rds.amazonaws.com/olist")
connection = engine.connect()
connection = connection.execution_options(database='olist')

In [3]:
query = 'SELECT * FROM Valoration'
example = pd.read_sql_query(query, con=engine)
print(example)

      seller_id seller_state     seller_city  distinct_prod  \
0           629           SP            maua             58
1          2724           SP            maua            229
2           476           SP  belo horizonte            126
3          2882           RJ     sao goncalo            142
4            64           SP     santo andre             66
...         ...          ...             ...            ...
3085       2236           SP  porto ferreira              1
3086       1627           SC        blumenau              1
3087       2546           SP       americana              1
3088       2874           SP       sao paulo              1
3089       2940           SP  ribeirao preto              1

      distinct_categories  delivery_avg  review_avg  total_orders  \
0                       6         -7.52        4.43            58
1                       6         -9.38        4.07           229
2                       4         -6.73        4.58           126
3                       2        -12.79        4.35           142
4                       2        -10.29        4.35            66
...                   ...           ...         ...           ...
3085                    1         -4.00        5.00             1
3086                    1           NaN        1.00             1
3087                    1        -10.00        5.00             1
3088                    1        -22.00        4.00             1
3089                    1         -6.00        5.00             1

      total_income  avg_income_month
0          2548.80             43.94
1         12520.10             54.67
2         13544.95            107.50
3         16443.10            115.80
4          7889.90            119.54
...            ...               ...
3085         79.00             79.00
3086         19.70             19.70
3087        399.00            399.00
3088        219.90            219.90
3089         15.50             15.50

[3090 rows x 10 columns]